<div class="container-fluid">
    <div class="row">
        <div class="col-12 page-header">
            <h2>Upload File</h2>
        </div>
        <div class="col-lg-7 col-12">
            <form [formGroup]="fileForm" (ngSubmit)="onSubmit()" [ngClass]="{'was-validated': submitted}">
                <div class="form-group">
                    <div class="alert alert-danger" *ngIf="errors">
                        <span>{{ errors.error }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" formControlName="title" required>
                    <div *ngIf="submitted && fileForm.controls.title.errors?.required" class="invalid-feedback">
                        Please add a title.
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" formControlName="description" required>
                    <div *ngIf="submitted && fileForm.controls.description.errors?.required" class="invalid-feedback">
                        Please add a description.
                    </div>
                </div>

                <div class="form-group">
                    <label for="file">Select your Image or Video</label>
                    <input type="file" class="form-control-file" id="file" formControlName="file" required
                        (change)="onSelectFile($event)">
                    <div *ngIf="submitted && fileForm.controls.file.hasError('required')" class="invalid-feedback">
                        Please add a file.
                    </div>
                </div>

                <button type="submit" [disabled]="loading" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-lg-5 col-12">
            <div class="preview-container pt-2" *ngIf="base64File.encoded">
                <img class="image-preview" *ngIf="base64File.ext === 'jpg'" [src]="base64File.encoded">

                <video *ngIf="base64File.ext === 'mp4'" width="100%" controls>
                    <source [src]="base64File.encoded" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>