<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2>Files</h2>
        </div>
        <div class="col-6 text-right">
            <a [routerLink]="['/form']" routerLinkActive="router-link-active" class="btn btn-success">
                Add
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th *ngFor="let thead of theads">{{ thead.text }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of files">
                        <td>{{ file.title }}</td>
                        <td>{{ file.description }}</td>
                        <td align="center">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                    Actions
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem (click)="toEdit(file)">Edit</button>
                                    <button ngbDropdownItem (click)="toView(file)">View</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12 text-center">
            <div class="d-flex justify-content-center">
                <ngb-pagination [(page)]="currPage" [pageSize]="itemsPerPage" [collectionSize]="total" [disabled]="loading"
                    (pageChange)="onPageChange($event)">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>