.preview-container
    width: 100%
    border: 1px solid #E3E3E3
    padding: 5px
    text-align: center
    .image-preview
        width: 300px
        height: 100%

.title
    text-transform: uppercase
    font-weight: 500

.description 
    font-size: 12px
        