<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="preview-container">
                <img class="image-preview" *ngIf="ext === 'jpg'" [src]="file.url">
                <video *ngIf="ext === 'mp4'" width="100%" controls>
                    <source [src]="file.url" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="col-12">
            <div class="page-header">
                <h5 class="title">{{ file.title }}</h5>
            </div>
        </div>

        <div class="col-12">
            <p class="description">{{ file.description}}</p>
        </div>
    </div>
</div>